body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: grid;
    place-items: center;
    min-height: 96vh;
    font-weight: bold;
    padding-top: 20px;
    background-color: #4F5D73;
}

#paletteContainer {
    width: 320px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border-radius: 4px;
    overflow: hidden;
}

.paletteItem {
    transition: background-color .5s;
}

.paletteItem span {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    display: inline-block;
    min-width: 80px;
}

button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 10px;
    color: #C75C5C;
    border-radius: 4px;
    background: #77B3D4;
}

button:hover {
    background-color: #F5CF87;
}